@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Logo Font;
    src: url('../font/nautilus-pompilius.regular.otf');
}
*{
  font-family: 'Raleway', sans-serif;
}
:root {
  /* Cores RGB do fundo do  */
  --red: 255;
  --green: 255;
  --blue: 255;
  /* o limite no qual as cores são consideradas claras */
  --threshold: 0.5;
}
body{
  visibility:hidden;
  transition: 0.5s;
}
.navbar {
  margin-bottom: 1rem;
  box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%), 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.text-logo{
    font-family: Logo Font;
}
.show, .collapsing{
  display: flex;
}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.card-text {
  font-size: 0.9rem;
  font-weight: 500;
}
.card-img-background {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 150px; 
}
.banner-img-background {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto;
}
.dropdown-item {
  font-weight: 500;
}
.dropdown-item i {
  margin-right: 1rem;
}
.notas {
    display: inline-block;
    -webkit-text-fill-color: transparent;
}
.valor_notas {
  color: orange;
  font-weight: bold;
}
.card {
  height:100%;
  transition: 0.25s;
}
.card-col {
  padding: 0.5rem 1rem;
}
.bg-tomato{
  background-color: #ff6347!important;
}
.bi-plus-lg::before {
  vertical-align: -0.1em;
  font-size: 0.9rem;
}
.form-signin {
  width: 100%;
  margin: auto;
}
textarea{
  resize: none;
  min-height: 100px!important;
}
.reticencias, .reticencias-descricao {
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.reticencias-descricao {
  white-space: normal;
}
.card-estabelecimento-tipo, .card-estabelecimento-nome, .card-estabelecimento-descricao,
#preview-estabelecimento-tipo, #preview-estabelecimento-nome, #preview-estabelecimento-descricao {
  max-width: 100%;
  min-width: 200px;
}
.card_busca, .banner-estabelecimento, .cardapio-titulo-div, .card-produtos-textbox {
  /* configura a cor de fundo a partir das variáveis */
  background: rgb(var(--red), var(--green), var(--blue));

  /* calcula a claridade do fundo utilizando o método sRGB Luma 
  Luma = (red * 0.2126 + green * 0.7152 + blue * 0.0722) / 255 */
  --r: calc(var(--red) * 0.2126);
  --g: calc(var(--green) * 0.7152);
  --b: calc(var(--blue) * 0.0722);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --perceived-lightness: calc(var(--sum) / 255);
  
  /* torna a cor do texto branca ou preta conforme a escuridão do fundo */
  color: hsl(0, 0%, calc((var(--perceived-lightness) - var(--threshold)) * -10000000%));
  transition: 0.15s;
}
.card_busca:hover {
  filter: grayscale(25%);
  transition: 0.15s;
  opacity: 0.95;
}
.spinner-grow {
  visibility: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #ff6347;
  width: 5rem;
  height: 5rem;
  transition: 0.5s;
}
.estabelecimento-dados {
  max-width: 100%;
}
.banner-estabelecimento-nome, .banner-estabelecimento-descricao {
  max-width: 100%;
  margin: auto;
}
.banner-estabelecimento-nome {
  line-height: 1.3;
  font-family: var(--bs-body-font-family);
}
.banner-estabelecimento-dados {
  padding: 2rem;
}